* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, input, button {
  font-family: 'Open Sans', sans-serif;
}

input, button {
  font-size: 16px;
}

body {
  background-color: #eee;
}

.head_bar {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #136e87;
  color: white;
}

main {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  padding: 40px 0 40px 0;
}

.input_section, .search_section  {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 16px 0;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
}

.input_section > h2 {
  text-align: center;
  color: #136e87;
}

.search_section > h2 {
  text-align: center;
  color: #136e87;
}

.input_section > form > .input {
  margin: 8px 0;
}

.input_section > form > button {
  background-color: #136e87;
  color: white;
  border: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.input_section > form > button > span {
  font-weight: bold;
}

.input_section > form > .input > input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}

form button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.input_section > form > .input > label {
  color: #136e87;
  font-weight: bold;
}

.input_section > form > .input_inline {
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.input_section > form > .input_inline > label {
  color: #136e87;
  font-weight: bold;
  margin-right: 10px;
}

.search_section > form > .input {
  margin: 8px 0;
}

.search_section > form > .input > input {
  display: block;
  width: 100%;
  padding: 12px 30px 12px 50px;
  border-radius: 5px;
  background-image: url("assets/search_icon.png");
  background-position: 8px 8px;
  background-repeat: no-repeat;
}

.search_section > form > button {
  background-color: #136e87;
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
  display: block;
  width: 100%;
}

.rak-buku {
  padding: 20px;
  border-radius: 20px;
  border: 1px solid black;
  position: relative;
  background-color: white;
}

.group-buku div {
  flex-basis: 50%;
}

.group-buku h2 {
  font-size: 20px;
  color: #136e87;
  
}

.tempat-buku {
  margin: 10px 5px 30px 5px;
  background-color: #136e87;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.books {
  margin-left: 5%;
  background-color: #136e87;
  position: relative;
}

.judul-buku {
  padding: 10px 2px;
  margin-top: 15px;
  font-size: 20px;
}

.penulis-buku {
  font-size: 16px;
}

.tahun-buku {
  padding: 5px 2px;
  margin-bottom: 15px;
  font-size: 16px;
}

.action {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  padding: 32px;
}

.action button {
  flex-grow: 1;
  border: none;
}

.action button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.btn-undo {
  background: url("assets/rotate-left-solid.svg") no-repeat;
  background-position: center;
}

.btn-check {
  background: url("assets/circle-check-solid.svg") no-repeat;
  background-position: center;
}

.btn-trash {
  background: url("assets/trash-can-solid.svg") no-repeat;
  background-position: center;
}

.tidak-ada-hasil-pesan {
  height: 60px;
  margin: 10px 5px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
}

.dialog-box {
  position: sticky;
  bottom: 10px;
  left: 0;
}

footer {
  padding: 20px;
  color: white;
  background-color: #136e87;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .group-buku div {
    margin-bottom: 15px;
  }
}
